/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  margin-top: 60px;
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-10deg, rgba($dark,0.5) 0%, rgba($dark3,0.5) 75%), image-url('carmen_bg.png');
}

.banner-content {
  margin-top: -20px;
}

.banner h1 {
  font-size: 50px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 18px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}
