/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  margin-top: 60px;
  color: white;
  background-size: cover !important;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  text-align: center;
  margin-top: -20px;
  padding: 50px 20px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h1 {
  font-size: 50px;
}

.banner p {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.carmen_demand {
  width: 100%;
  padding: 25px 20px;
  label {
    font-weight: normal;
    color: $carmen;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

.form-control {
  background: rgba($dark, 0.3);
  color: #CCC;
  border-bottom: 1px solid white;
  position: relative;
}

.datetime{
  margin-bottom: 5px;
}

.submit_carmen {
  color: white;
  background: $carmen;
  border: none;
  padding: 10px 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.pref_link {
  text-align: left;
  margin-bottom: 30px;
  margin-top: -40px;
  margin-left: 15px;
}
.carmen_btn {
  color: white;
  border-bottom: 1px solid white;
  padding: 10px 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, rgba($dark, 0)50%, rgba($dark, 0.2));
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.pref_link a:hover{
  color: white;
  text-decoration: none;
  border-bottom: none;
}

.carmen_btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $carmen;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.carmen_btn:hover:before, .carmen_btn:focus:before, .carmen_btn:active:before {
  color: white;
  border-bottom: none;
  text-decoration: none;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  right: 0;
}

.pref {
  text-align: left;
}
