.page-content {
  margin-top: 60px;
  text-align: center;
  line-height: 2;
  .prgrph {
    padding: 100px 20px;
    width: 100%;
  }
  .odd {
    color: $dark;
    background-color: white;
  }
  .even {
    color: white;
    background-color: $dark;
  }
}
