<div id="footer">
  <div>
    <ul class="list-inline">
      <li><a href="https://www.instagram.com/carmen_app/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/carmentheapp/"><i class="fa fa-facebook"></i></a></li>
    </ul>
      <p>Grâce à carmen, trouvez le restaurant idéal sans chercher</p>
  </div>
  <div>
    <p>Pour me contacter : 06 66 85 67 90 ou</p>
    <a href="mailto:hb@carmenapp.com?subject=Bonjour Carmen">hb@carmenapp.com</a>
  </div>
</div>
