<div id="footer">
  <div>
    <ul class="list-inline">
      <li><a href="https://www.instagram.com/carmen_app/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://www.facebook.com/carmentheapp/"><i class="fa fa-facebook"></i></a></li>
    </ul>
      <p>Grâce à carmen, trouvez le restaurant idéal sans chercher</p>
  </div>
  <div>
    <p>Pour me contacter :</p>
    <script type=text/javascript> var prenum = "06 66 85" ; var sunum = " 87 90" ; document.write('<p>' + prenum + sunum + '</p>') ;
    </script>
    ou
    <script type=text/javascript> var name = "hb" ; var domain = "carmenapp.com" ; var subject = "subject=Bonjour Carmen" ; document.write('<a href="mailto:' + name + '@' + domain + '?' + subject + '">') ; document.write(name + '@' + domain + '</a>') ;
    </script>
  </div>
</div>
