
<h1>Qui est Carmen ?</h1>
<p>
  Carmen est votre amie branchée qui connait toutes les bonnes adresses de restaurant et qui est toujours disponible pour vous réserver une table.
Pourquoi est-ce que quand je cherche 1 restaurant on me propose un nombre infini de choix ? Carmen est née de ce constat.
</p>

<h1>Comment est-ce que Carmen choisit les meilleurs restaurants ?</h1>
<p>
  Carmen est soutenue par une communauté de guides de voyage, d’experts culinaires et de blogueurs foodies et aussi à votre écoute.<br>
  En d’autres mots Carmen c’est “L’insoutenable liberté de ne plus avoir à chercher”.<br>
  Laissez vous tenter
</p>
