<div class="page-content">
    <div class="container prgrph odd">
  <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Qui est Carmen ?</h2>
        <p>
          <strong>Carmen est votre amie branchée qui connait toutes les bonnes adresses de restaurants</strong> et qui est toujours disponible pour vous réserver une table.
          Pourquoi est-ce que quand je cherche 1 restaurant on me propose un nombre infini de choix ? Carmen est née de ce constat.
        </p>
      </div>
    </div>
  </div>
    <div class="container prgrph even">
  <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Comment est-ce que Carmen choisit les meilleurs restaurants ?</h2>
        <p>
          Carmen est soutenue par une communauté de guides de voyage, d’experts culinaires et de blogueurs foodies et aussi à votre écoute.
          En d’autres mots Carmen c’est <strong>“L’insoutenable liberté de ne plus avoir à chercher”</strong>.<br>
          Laissez vous tenter
        </p>
      </div>
    </div>
  </div>
</div>
