<div class="top page-content">
    <div class="container prgrph odd">
  <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Qui est Carmen ?</h2>
        <p>
          <strong>Carmen, c'est votre amie branchée qui connaît tous les bon plans resto.</strong> Elle est née du constat qu'à chaque envie, à chaque moment correspond un restaurant idéal. Non pas 50 options, mais UN restaurant, le bon restaurant. Cette table parfaite, Carmen la déniche pour vous. Et comme Carmen est sympa, elle vous la réserve en un clin d'œil.
        </p>
      </div>
    </div>
  </div>
    <div class="container prgrph even">
  <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Comment est-ce que Carmen choisit les meilleurs restaurants ?</h2>
        <p>
          Carmen est toujours à l'écoute des nouveautés tout en gardant sous la main la perle qui fera frémir vos papilles. Pour cela, elle est soutenue par une communauté de foodies, de guides de voyage et d'experts culinaires. Et Comme toute bonne copine, <strong>Carmen est surtout à votre écoute. Alors faites confiance à Carmen.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
