  <div class="banner" style="background-image: linear-gradient(-10deg, rgba(14, 32, 50, 0.5) 0%, rgba(1, 7, 14, 0.5) 75%), url(<%= cl_image_path("carmen_bg_nsnrb5.png") %>);
">
    <div class="banner-title text-center">
      <h1>Trouvez le restaurant idéal sans chercher</h1>
      <h4>Carmen choisit pour vous le restaurant parfait parmi une sélection fine de bonnes adresses</h4>
    </div>
    <div class="carmen_demand">
      <%= render 'shared/carmen_demand' %>
    </div>
  </div>
  <div class="page-content">
    <div class="container prgrph odd ">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1>Trop de choix tue le choix</h1>
          <p>
            <strong>Toujours en quête de bonnes adresses à partager avec mes amis, je vous recommande LE restaurant qui colle à vos envies. Avec moi, pas d'inventaire vertigineux qui vous empêche de choisir. Car après tout, vous ne cherchez pas l'annuaire des restaurants du quartier; vous voulez le restaurant parfait pour le moment idéal. C'est pour cela que je suis née: Carmen, à l'affût de la perle rare et à la pointe de la tendance. Demandez-moi et je vous réserve la meilleure table!
          </p>
        </div>
    </div>
  </div>
