  <div class="banner">
    <div class="banner-title text-center">
      <h1>Trouvez le restaurant idéal sans chercher</h1>
      <h4>Carmen choisit pour vous le restaurant parfait parmi une sélection fine de bonnes adresses.</h4>
    </div>
    <div class="carmen_demand">
      <%= render 'shared/carmen_demand' %>
    </div>
  </div>
  <div class="page-content">
    <div class="container prgrph odd ">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1>Trop de choix tue le choix</h1>
          <p>
            <strong>Insatiable de nouvelles bonnes adresses de restaurants et généreux en bon conseils pour mes amis</strong>, je vous rends service en recommandant précisément Le meilleur restaurant qu'il vous faut plutot que de proposer une liste approximative de restaurants dans laquelle vous n'allez pas savoir choisir. En effet pourquoi est-ce que quand vous cherchez 1 restaurant on nous propose une liste infinie de choix ? Je suis née pour cela. Carmen est votre amie branchée qui vous connait ainsi que toutes les bonnes adresses de restaurant. Il suffit de lui demander pour qu'elle vous réserve une table.
          </p>
        </div>
    </div>
  </div>
