  <div class="banner" style="background: linear-gradient(-225deg, rgba(56,59,61,0.1) 0%, rgba(150,60,62,0.1) 75%), url('/assets/carmen_bg.png');">
    <div class="banner-content text-center">
      <h1>Trouvez le restaurant idéal sans chercher</h1>
      <h2>Carmen choisit pour vous le restaurant parfait parmi une sélection fine de bonnes adresses.</h2>
    </div>
  </div>
