  <div class="banner" style="background: linear-gradient(-225deg, rgba(56,59,61,0.1) 0%, rgba(150,60,62,0.1) 75%), url('/assets/carmen_bg.png');">
    <div class="banner-content text-center">
      <h1>Trouvez le restaurant idéal sans chercher</h1>
      <h4>Carmen choisit pour vous le restaurant parfait parmi une sélection fine de bonnes adresses.</h4>
    </div>
    <div class="home-content">
      <p>
        Depuis toujours avide de bonnes adresses de restaurants et bon conseil pour des amis, je me suis rendu compte qu’en recommandant un seul restaurant je rendais grandement service. En effet pourquoi est-ce que quand je cherche 1 restaurant on me propose un nombre infini de choix ? Carmen est née de ce constat. Carmen est votre amie branchée qui connait toutes les bonnes adresses de restaurant et qui est toujours disponible pour vous réserver une table.
      </p>
    </div>
  </div>
