  <div class="banner" style="background: linear-gradient(-225deg, rgba(56,59,61,0.1) 0%, rgba(150,60,62,0.1) 75%), url('/assets/carmen_bg.png');">
    <div class="banner-content text-center">
      <h1>Trouvez le restaurant idéal sans chercher</h1>
      <h4>Carmen choisit pour vous le restaurant parfait parmi une sélection fine de bonnes adresses.</h4>
    </div>
  </div>
  <div class="home-content">
    <p>
      <strong>Insatiable de bonnes adresses de restaurants et généreux en bon conseils pour mes amis</strong>, je me suis rendu que je rendais le plus service en recommandant précisément Le restaurant qu'il faut plutot que de proposer une liste approximative de restaurants dans laquelle choisir. En effet pourquoi est-ce que quand je cherche 1 restaurant on m'en propose un nombre infini de choix ? Carmen est née de ce constat. Carmen est votre amie branchée qui vous connait ainsi que toutes les bonnes adresses de restaurant. Il suffit de lui demander pour qu'elle vous réserve une table.
    </p>
  </div>
